/* General Styles */
body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #333;
}

header {
    display: grid;
    grid-template-columns: 1fr auto;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #333;
    color: white;
  }
  header img {
    max-height: 100px;
  }
  header nav{
    display: flex;
    justify-content: flex-end;
    grid-column: 2;
    gap: 15px;
  }
  
  header nav a {
    color: white;
    text-decoration: none;
    margin-left: 15px;
    font-weight: 500;
  }
  
  header nav a:hover {
    text-decoration: underline;
  }

main {
    padding: 20px;
    max-width: 1000px;
    margin: 0 auto;
    text-align: center;
}

h2 {
    color: #0066cc;
    margin-top: 20px;
    margin-bottom: 30px;
    font-size: 2rem;
    font-weight: bold;
}

/* Trip Descriptions */
.trip-descriptions {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
    margin-top: 20px;
}

.trip {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 15px;
    text-align: left;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.trip img {
    max-width: 100%;
    border-radius: 8px;
    margin-bottom: 15px;
}

.trip h3 {
    font-size: 1.5rem;
    color: #333;
    margin-bottom: 10px;
}

.trip p {
    margin: 5px 0;
    font-size: 0.9rem;
    line-height: 1.4;
}

/* Footer */
footer {
    text-align: center;
    padding: 20px;
    background-color: #333;
    color: white;
    font-size: 0.9rem;
}

footer nav a {
    margin: 0 10px;
    text-decoration: none;
    color: white;
}

footer img {
    height: 30px;
}
