* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


header {
    background-color: black;
}
nav{
    background-color: darkblue;
    padding: 10px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
nav a {
    color: white;
    display: block;
    padding: 20px;
    text-decoration: none;
    font-weight: 700;

}
h1 {
    color: darkblue;
}
img{
    width: 150px;
    height: auto;
    border: 1px solid black;
    padding: 2px;
    box-shadow: 0 0 30px gray;
}
p{
    padding: 0;
}
.grid{
    display: grid;
    align-items: center;
}
main{
    grid-column: 2/3;
    margin: 1rem;
}
aside{
    width:20rem;
    margin: 1rem;
    border: 1px solid rgba(0, 0, 0, 0.2);
    padding: 1rem;
    background-color: #eee;
    color:  #333;
    text-align: center;

}

main img{
    float: right;
    width: 150px;
    height: auto;

}

aside img {
    width: 100px;
}

footer {
    margin-top: 15px;
    border-top: 1px solid  #000;
    text-align: center;
}

/* Class Selector */
.box {
    margin: 1rem;
    border: 1px solid rgba(0 0 0 / .1);
    padding: 1rem;
    background: #ddd;
    color: #000;
}


aside h2 {
    position: absolute;
    top: 47px;
    left: 150px;
}

header, footer{
    max-width: 840px;
    margin: 0 auto;
}
aside{
    width: 20rem;
    position: relative;
    grid-column: 1/2;
    grid-row: 1/2;

}